a
{
    color: var(--iconColor);
    text-decoration: none;
    word-wrap: break-word;
}

a:hover
{
    color: var(--selectionColor);
}

.repo-header
{
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}

.repo-star-fork-holder
{
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row wrap;
    align-items: center;
}

.repo-star-fork
{
    display: flex !important;
    justify-content: space-between !important;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 .25rem;
}

.repo-item
{
    border: 0.2rem solid var(--mainColor);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--backgroundColorDarker);
    height: auto;
}

.topics
{
    display: flex !important;
    justify-content: flex-start !important;
    flex-flow: row wrap;
    align-self: stretch;
}

.topic
{
    margin: 0.1rem;
    padding: 0 0.5rem;
    background-color: var(--iconColor);
    border-radius: 1rem;
}