<h2>About</h2>
<ul>
    <li>TODO!</li>
    <li>Lives in HU</li>
    <li>C#/.Net dev</li>
    <li>Minimal C++ knowledge</li>
    <li></li>
    <li>Very Amature Photogarpher</li>
</ul>
<h2>Intrests</h2>
<ul>
    <li>TODO!</li>
    <li>Software Development</li>
    <li>DIY Stuff</li>
    <li>3D Printing</li>
    <li>Electrical Engineering</li>
    <li>Photogarphy</li>
</ul>
<h2>Work History</h2>
<mw-timeline [timelineEntries]="workTimelineEntries"></mw-timeline>
<h2>Education</h2>
<mw-timeline [timelineEntries]="eduTimelineEntries"></mw-timeline>
<h2>Contact</h2>
<ul>
    <li><a href="mailto:lgbotond@gmail.com">lgbotond at gmail dot com</a></li>
</ul>
<h2>Links</h2>
<ul>
    <li><a href="https://github.com/Bocko">Github</a></li>
    <li><a href="https://steamcommunity.com/id/BockoOfficial/">Steam</a></li>
    <li><a href="https://www.speedrun.com/users/Bocko">Speedrun</a></li>
    <li><a href="https://www.twitch.tv/bockoofficial">Twitch</a></li>
    <li><a href="https://www.youtube.com/@BockoOfficial">Youtube</a></li>
</ul>