<h1>About</h1>
<ul>
    <li>C#/.Net dev</li>
    <li>- Lives in HU</li>
</ul>

<h1>Links & Contact</h1>
<ul>
    <li><a href="https://github.com/Bocko">Github</a></li>
    <li><a href="mailto:lgbotond@gmail.com">lgbotond[kukac]gmail.com</a></li>
</ul>
<h1>Work History</h1>
<ul>
    <li><mw-timeline-item [logoPath]="'./assets/logos/exampleLogo.png'" [workTitle]="'Tools Engineer'" [companyName]="'Nemesys Games'" [workPeriodStart]="'2022 September'" [workPeriodEnd]="'2023 April'"></mw-timeline-item></li>
    <li><mw-timeline-item [logoPath]="'./assets/logos/exampleLogo.png'" [workTitle]="'Tools Engineer'" [companyName]="'Zenimax Online Studios Hungary'" [workPeriodStart]="'2023 April'" [workPeriodEnd]="'Present'"></mw-timeline-item></li>
</ul>
<h1>Education</h1>
<ul>
    <li><mw-timeline-item [logoPath]="'./assets/logos/exampleLogo.png'" [workTitle]="'BSC — Computer Science Operational Engineer'" [companyName]="'Budapest University of Technology and Economics'" [workPeriodStart]="'2019 September'" [workPeriodEnd]="'2022 June'"></mw-timeline-item></li>
</ul>