<h2>About</h2>
<ul>
    <li>TODO!</li>
    <li>C#/.Net dev</li>
    <li>Minimal C++</li>
    <li>Very Amature Photogarpher</li>
    <li>Lives in HU</li>
</ul>
<h2>Work History</h2>
<mw-timeline [timelineEntries]="workTimelineEntries"></mw-timeline>
<h2>Education</h2>
<mw-timeline [timelineEntries]="eduTimelineEntries"></mw-timeline>
<h2>Links & Contact</h2>
<ul>
    <li><a href="https://github.com/Bocko">Github</a></li>
    <li><a href="mailto:lgbotond@gmail.com">lgbotond at gmail dot com</a></li>
</ul>