* 
{
	margin: 0;
	padding: 0;
}

.container 
{
	padding: 0 15px;
}

.d-flex-2 
{
	display: flex;
	align-items: center;
}

.all-timelines 
{
	position: relative;
}

.all-timelines::before 
{
	content: "";
	position: absolute;
	margin: auto -1px;
	height: 100%;
	width: 2px;
	background: var(--selectionColor);
}

.single-timeline 
{
	margin-bottom: 22px;
}

.timeline-text 
{
	padding-left: 30px;
	width: 100%;
}

.t-square 
{
	content: "";
	position: absolute;
	width: .75rem;
	height: .75rem;
	left: -.375rem;
	background: var(--selectionColor);
	border-radius: .2rem;
}

@media all and (max-width: 575px) 
{

}
@media all and (max-width: 360px) 
{
	.all-timelines::before {
		top: 1.5rem;
	}
}
