<div class="container-fluid col-lg-8 p-0">
    <div class="container-fluid search-container">
        <div class="row">
            <div class="col-xl-3 fieldFilters search-element-holder">
                <p class="search-label">Filter By</p>
                <select class="form-select" [(ngModel)]="selectedFieldFilter">
                    <option *ngFor="let field of PhotoMetadata | enumToArray" [value]="field">{{field}}</option>
                </select>
            </div>
            <div class="col-xl-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." (keyup.enter)="filterGalleries(filterInput.value)" id="filterInput" #filterInput>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary innerBtn" type="button" (click)="filterGalleries(filterInput.value)">
                            <i class="fas fa-search"></i>
                        </button>
                        <button class="btn btn-outline-secondary outerBtn" type="button" (click)="clearGalleriesFilter()">
                            <i class="fas fa-x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 fieldSort search-element-holder">
                <p class="search-label">Sort By</p>
                <div class="input-group">
                    <select class="form-select" [(ngModel)]="selectedFieldSort" (change)="sortGalleries()">
                        <option *ngFor="let field of PhotoMetadata | enumToArray" [value]="field">{{field}}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary outerBtn" type="button" (click)="reverseSorting()">
                            <i class="fas fa-arrow-up" id="sortReverseButton"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let gallery of filteredGalleryLists; index as i">
        <details *ngIf="gallery.items.length > 0" [attr.id]="gallery.name">
            <summary>
                <span class="details-marker">⯈</span>
                <h2 class="imgHeader">
                    {{gallery.name}}
                </h2>
            </summary>
            <div class="galleryHolder">
                <lightgallery [settings]="gallerySettings[i]" [onInit]="onGalleryInit" class="center-items">
                    <a *ngFor="let image of gallery.items"
                      [attr.data-src]="image.path"
                      [attr.data-slide-name]="image.slideName"
                      attr.data-sub-html="
                        <h3>
                            {{image.name}}
                        </h3>
                        <div class='d-flex justify-content-center'>
                            <div class='mx-4 text-start'>
                                <p>
                                    <span class='text-nowrap'>Location -</span> {{image.location}}
                                </p>
                                <p>
                                    <span class='text-nowrap'>Date -</span> {{image.date}}
                                </p>
                            </div>
                            <div class='mx-4 text-start'>
                                <p>
                                    <span class='text-nowrap'>Camera -</span> {{image.cameraMaker}} {{image.cameraModel}}
                                </p>
                                <p>
                                    <span class='text-nowrap'>Lens -</span> {{image.lensMaker}} {{image.lensModel}}
                                </p>
                            </div>
                            <div class='mx-4 text-start'>
                                <p>
                                    <span class='text-nowrap'>ISO -</span> {{image.ISO}}
                                </p>
                                <p>
                                    <span class='text-nowrap'>f-Stop -</span> {{image.fStop}}
                                </p>
                            </div>
                            <div class='mx-4 text-start'>
                                <p>
                                    <span class='text-nowrap'>Shutter Speed -</span> {{image.shutterSpeed}} s
                                </p>
                                <p>
                                    <span class='text-nowrap'>Focal Length -</span> {{image.focalLength}}
                                </p>
                            </div>
                        </div>
                        ">
                      <img
                        class="img-responsive"
                        src="{{image.thumbnailPath}}" />
                    </a>
                </lightgallery>
            </div>
        </details>
    </div>
</div>
