.search-container
{
    margin-bottom: 1.5rem;
    padding: 0;
}

h2
{
    margin: 1rem 0;
}

.search-element-holder
{
    display: flex;
    float: left;
}

.search-label
{
    white-space: nowrap;
    margin: auto .5rem auto 0;
    font-size: large;
}

.fieldFilters
{
    padding: 0 0 0 .75rem;
}

@media (max-width: 1199px)
{
    .fieldFilters
    {
        padding: 0 .75rem 0 .75rem;
        margin-bottom: 1rem;
    }
}

.fieldSort
{
    padding: 0 .75rem 0 0;
}

@media (max-width: 1199px)
{
    .fieldSort
    {
        padding: 0 .75rem 0 .75rem;
        margin-top: 1rem;
    }
}

.innerBtn
{
    color: var(--mainColor);
    border-radius: 0;
}

.outerBtn
{
    color: var(--mainColor);
    border-radius: 0rem .375rem .375rem 0rem;
}

.sortReversed
{
    transform: rotate(180deg);
}

.imgHeader
{
    font-size: 2.25rem;
    margin: 0 auto;
    color: var(--iconColor);
    text-align: center;
}

.imgHeader::first-letter
{
    text-transform: capitalize;
}

.center-items
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-flow: row wrap;
}

.galleryHolder
{
    padding: .5rem 0;
}

.img-responsive
{
    margin: .15rem;
    max-width: 18rem;
    max-height: 10rem;
}

.img-responsive:hover
{
    cursor: pointer;
}

.details-marker
{
    margin: auto 0.25rem;
    font-size: 1.5rem;
}

summary
{
    display: flex;
}

details
{
    color: var(--mainColor);
    margin: 1rem 0;
    padding: .25rem 0;
    background-color: var(--backgroundColor);
    border-radius: .375rem;
}

details[open]
{
    & summary span
    {
      transform: rotate(-90deg);
    }
}