<div class="navibar" *ngIf="showShell">
  <nav class="container-fluid col-lg-6">
    <div class="row">
        <a class="col-lg-4 nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['nav-active']">About</a>
        <a class="col-lg-4 nav-link" [routerLink]="['/gallery']" [routerLinkActive]="['nav-active']">Gallery</a>
        <a class="col-lg-4 nav-link" [routerLink]="['/repos']" [routerLinkActive]="['nav-active']">Repositories</a>
    </div>
  </nav>
</div>

<main class="outlet-padding">
  <router-outlet></router-outlet>
  <div class="auroral-container">
    <div class="auroral-northern"></div>
    <div class="auroral-stars"></div>
  </div>
</main>