<div>

  <div class="navibar">
    <nav class="container-fluid col-lg-6">
      <div class=" row">
          <a class="col-lg-4 nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['nav-active']">About</a>
          <a class="col-lg-4 nav-link" [routerLink]="['/gallery']" [routerLinkActive]="['nav-active']">Gallery</a>
          <a class="col-lg-4 nav-link" [routerLink]="['/repos']" [routerLinkActive]="['nav-active']">Repositories</a>
      </div>
    </nav>
  </div>

  <div class="spacer"></div>

  <main class="container-fluid col-lg-7">
    <router-outlet></router-outlet>
  </main>

  <div class="spacer"></div>
  
  <footer class="footer">
    <div class="d-flex justify-content-between container col-lg-6 p-0">

      <div class="yearText">
        <p class="m-0">© {{year}} Botond László</p>
      </div>

      <div class="d-inline-flex">
        <a href="https://github.com/Bocko" class="linkRightMargin">
          <i class="fa-brands fa-github fa-lg link"></i>
        </a>
        <a href="mailto:lgbotond@gmail.com">
          <i class="fa-regular fa-envelope fa-lg link"></i>
        </a>
      </div>

    </div>
  </footer>

</div>