.outer
{
    height: 100vh;
    margin: auto;
}

.header
{
    text-align: center;
    border-bottom: .125rem solid var(--backgroundColor);
}

.logo
{
    height: 10rem;
    padding: 2rem;
    background-color: black;
    border: .125rem solid white;
    margin: 1rem;
    cursor: pointer;
}

.linkButton
{
    border-radius: .75rem;
    font-size: 1.75rem;
    margin: 1rem 0;
    text-align: center;
}

a
{    
    text-decoration: none !important;
}

span
{
    margin-left: .5rem;
}

// Button Hover Stuff

.glow-on-hover {
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -.1rem;
    left:-.1rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    animation: glowing 40s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: .75rem;
}



.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: .75rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}