<div class="col-xl-4 row outer content-background">
    <div class="p-0">
        <div class="header">
            <img src="assets/logos/bgl-logo.png" alt="BGL Logo" class="logo" [routerLink]="['/']">
            <h2>
                Botond<span>'Bocko'</span> László
            </h2>
        </div>
        <div>
            <a *ngFor="let link of links" [href]="link.link" class="linkButton glow-on-hover">
                <div class="linkButtonInner" [ngStyle]="{'background-color' : link.color}">
                    <i [ngStyle]="{'color' : link.logoColor}" [ngClass]="link.icon"></i>
                    <span [ngStyle]="{'color' : link.textColor}">{{link.name}}</span>
                </div>
            </a>
        </div>
    </div>
</div>