p
{
    margin: 0;
}

.logoImg
{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    padding: 0rem;
    border-radius: .25rem;
}

.infoItems
{
    margin: auto 0rem;
}

.companyName
{
    color: var(--textColorSecondary)
}