/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'lightgallery/scss/lightgallery-bundle';
@import url('./assets/icons/css/all.css');

:root
{
	--mainColor: #25D7AA;
	--backgroundColor: #4F6367;
	--backgroundColorDark: #3F3f4F;
	--backgroundColorDarker: #232930;
	--textColor: #FCF7F8;
	--textColorSecondary: #C6C2C3;
	--selectionColor: #24d6d3;
	--iconColor: #CC2936;
}

body
{
    font-family: FuturaBold;
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: var(--iconColor);
}

span
{
    color: var(--mainColor);
}

a
{
	color: var(--mainColor);
}

body 
{
	background: linear-gradient(45deg, var(--backgroundColorDark), var(--backgroundColorDarker));
    background-attachment: fixed;
	background-size: 200% 200%;
	animation: gradient 60s ease-in-out infinite;
}

@keyframes gradient 
{
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}